@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 94 47% 97%;
    --foreground: 105 40% 2%;
    --card: 94 47% 97%;
    --card-foreground: 105 40% 2%;
    --popover: 94 47% 97%;
    --popover-foreground: 105 40% 2%;
    --primary: 100 59% 51%;
    --primary-foreground: 105 40% 2%;
    --secondary: 100 71% 74%;
    --secondary-foreground: 105 40% 2%;
    --muted: 94 47% 20%;
    --muted-foreground: 105 40% 70%;
    --accent: 100 84% 60%;
    --accent-foreground: 105 40% 2%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 105 40% 2%;
    --border: 94 47% 20%;
    --input: 94 47% 20%;
    --ring: 100 84% 40%;
    --radius: 0.5rem;

    --font-heading: "Glegoo", serif;
    --font-body: "Lekton", sans-serif;
  }

  .dark {
    --background: 94 47% 3%;
    --foreground: 105 40% 98%;
    --card: 94 47% 3%;
    --card-foreground: 105 40% 98%;
    --popover: 94 47% 3%;
    --popover-foreground: 105 40% 98%;
    --primary: 100 59% 49%;
    --primary-foreground: 94 47% 3%;
    --secondary: 100 71% 26%;
    --secondary-foreground: 105 40% 98%;
    --muted: 94 47% 80%;
    --muted-foreground: 105 40% 98%;
    --accent: 100 84% 40%;
    --accent-foreground: 94 47% 3%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 106 41% 10%;
    --border: 94 47% 60%;
    --input: 94 47% 80%;
    --ring: 100 84% 60%;
  }
}
html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }

  .underline-transition {
    position: relative;
  }

  .underline-transition::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  .underline-transition:hover::after {
    transform: scaleX(.3);
    transform-origin: bottom left;
  }
}
